

.drop-container{
    background-color: white;
}
.dropdown{
  width:90%;
  background-color:white;
  color:black;
  margin-top:20px;
  border-radius:10px;
  padding-left: 10px;
}

.info-container{
  border:1pt solid black;
  padding-bottom:80px;
}

.main-container{
  margin-left:40px;
  margin-top:20px;
}

.image-container{
  height:80%;
  width: 90%;
  border:1pt solid black;
  text-align: center;
  background-color: gainsboro;
}

.emp-image{
  padding:25px;
}

.lblSubmit{
  margin-top:5px;
  font-weight: bold;
}

.fileSubmit{

}

.emp-create{
  margin-top:20px;
  background-color: black;
  color:white;
}

.btn-submit{
  margin-left:-60px;
}

.issue-img{
  margin-right:10px;
}

.photo-container{
  height: 100px;
  margin-left:80px;
  border:1pt solid black;
  border-radius: 5px;
  margin-top:30px;

}

.tab {
    overflow: hidden;
    margin-top:15px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  .tab button:hover {
    background-color: #ddd;
  }

  .tab button.active {
    background-color: #ccc;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }