.lbl-search{
    margin-left:30px;
    margin-top:30px;
    color:white;
    font-size: 18pt;
    font-family: 'Playfair Display SC', serif;
}

.inp-search{
    margin-left:15px;
    border-radius: 10px;
    width: 400px;
    padding-left: 5px;
    font-Family:"'Gotu', sans-serif";
}

.btn-search{
    margin-left:10px;
    background-color: rgb(89, 89, 189);
    color:whitesmoke;
    width:150px;
    text-shadow: none;
    border:1pt solid black;
}

.btn-search:hover{
    background-color: white;
    color:black;
    text-shadow: none;
    border:1pt solid black;
}

.issue-table{
    margin-top:30px;
}

.no-issues{
    color:white;
}